requests
python-dotenv
# google-genai
chromadb
langchain
langchain-core
langchain-openai
# langchain-google-genai
langgraph
fastapi
uvicorn
langchain-chroma
sentence-transformers 
langchain-huggingface